<!DOCTYPE html>
<html>
<head>
<title>Bharat Motors</title>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- <link href="creative.css" rel='stylesheet' type='text/css' /> -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery.min.js"></script>
<!-- <script src="../js/angular.min.js"></script> -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script> -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> -->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- for bootstrap working -->
	<script type="text/javascript" src="../js/bootstrap-3.1.1.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
<!-- //for bootstrap working -->
<!-- cart -->
	<script src="../js/simpleCart.min.js"> </script>
	<script src="angular_AdminJS.js"></script>
 <!-- <script>
$(document).ready(function(){
      $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>
	
 -->
<!-- cart -->
<link rel="stylesheet" href="creative.css" type="text/css"  />

    

</head>
<body ng-app="BM_Site_Admin" ng-controller="Admin_controller">
{{ 5 + 5 }}
  <div class="header">
    <div class="header-top-strip">
    <div class="container" style="color:white;text-align: left;font-family: Courier;font-size: 30px;">
    BHARAT MOTORS
    </div>
    </div>
  </div>
 <div class="container wrapper" >

 
<div class="row">
  <div class="col-sm-4">.
    <div class="alert alert-default navbar-brand search-box">
    <button class="btn btn-primary btn-info"  id="myBtn" ng-click="showInsertForm()" >Add Product <span class="glyphicon glyphicon-plus" area-hidden="true"></span></button>
    </div>
    </div>
  <div class="col-sm-8">
    <div class="alert alert-default input-group search-box">
<span class="input-group-btn">
<input type="text" class="form-control" placeholder="Search Category Details Into Database..." ng-model="search_query">
</span>
</div>
  </div>
</div>
<div> <p style="text-align: center;font-family: Courier;font-size: 30px;">PRODUCT DETAILS</p>
<div class="table-responsive">
<table class="table table-hover">
<tr>
<th>Product ID</th>
<th>Product Name</th>
<th></th>
<th></th>
</tr>
<tr ng-repeat="detail in details| filter:search_query">
<td>{{detail.category_id}}</td>
<td>{{detail.category_name}}</td>
<td>
<button class="btn btn-warning" ng-click="editInfo(detail)" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
</td>
<td>
<button class="btn btn-danger" ng-click="deleteInfo(detail)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
</td>
</tr>
</table>
</div>
</div>
<!-- Modal -->
  <!-- <script type="text/ng-template" id="myModalContent.html">
  <!-- <div class="modal fade" id="myModal" role="dialog">  -->
    <!-- <div class="modal-dialog">  -->
    
      <!-- Modal content
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
          <h4 style="font-size: 30px"><span class="glyphicon glyphicon-lock" style="font-size: 30px" ></span> Login</h4>
        </div>
         <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter name">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <!-- <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div> 
              <button type="submit" class="btn btn-block loginbutton"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
         </div>
        </div> 
        <!-- </div>
        </div> 
  </script>  -->


  </div><!--/container--> 
 
</body>
</html>