<!DOCTYPE html>
<html>
<head>
<title>Bharat Motors</title>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<link href="../css/style.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery.min.js"></script>
<script src="../js/angular.min.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- for bootstrap working -->
  <script type="text/javascript" src="../js/bootstrap-3.1.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<!-- //for bootstrap working -->
<!-- cart -->
  <script src="../js/simpleCart.min.js"> </script>
  <script src="angular_AdminJS.js"></script>
<!-- cart -->
<link rel="stylesheet" href="creative.css" type="text/css"  />
</head>
<body ng-app="BM_Site_Admin" ng-controller="formController" >
{{5+5}}
{{Something}}
{{msg1}}
	<!-- <script type="text/ng-template" id="myModalContent.html"> -->
  <!-- <div class="modal fade" id="myModal" role="dialog">  -->
   
      <!-- Modal content-->
      <div class="modal-content" ng-controller="formController"> 
        <div class="modal-header" style="padding:35px 50px;">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 style="font-size: 30px">Enter Product Details</h4> 
        </div>
        
         {{5+5}}
         {{Something}}
         {{msg1}}

         <div class="modal-body" style="padding:40px 50px;">
         {{message}}
          <form class="form-horizontal alert alert-warning" role="form" name="ProductForm">
            <div class="form-group">
              <label for="Product_name"> Product Name</label>
              <input type="text" class="form-control" ng-model="productInfo.product_name" name="product_name" placeholder="Enter name" required>
            </div>
            <div class="form-group">
            <p class="text-danger" ng-show="ProductForm.product_name.$invalid && ProductForm.product_name.$dirty">
            <span ng-show="ProductForm.product_name.$error.required">Product Name is required.
            </span>
            </p>
            </div>
            
            <!-- <div class="form-group"> 
              <label for="Product_description">Product Description</label>
              <input type="text" class="form-control" ng-model="productInfo.product_description" name="product_description" placeholder="Enter Product description" required>
            </div>
            <div class="form-group">
            <p class="text-danger" ng-show="ProductForm.product_description.$invalid && ProductForm.product_description.$dirty">
            <span ng-show="ProductForm.product_description.$error.required">Product Descripton is required.
            </span>
            </p>
            </div>
            <div class="form-group"> 
              <label for="Product_price">Product Price</label>
              <input type="text" class="form-control" ng-model="productInfo.product_price" name="product_price" placeholder="Enter Product price" required>
            </div>
             <div class="form-group">
            <p class="text-danger" ng-show="ProductForm.product_price.$invalid && ProductForm.product_price.$dirty">
            <span ng-show="ProductForm.product_price.$error.required">Product Price is required.
            </span>
            </p>
            </div>
            <div class="form-group">
              <label for="Product_quantity">Product Quantity</label>
              <input type="text" class="form-control" ng-model="productInfo.product_quantity" name="product_quantity" placeholder="Enter Product Quantity" required >
            </div> 
            <div class="form-group">
            <p class="text-danger" ng-show="ProductForm.product_quantity.$invalid && ProductForm.product_quantity.$dirty">
            <span ng-show="ProductForm.product_quantity.$error.required">Product Quantity is required.
            </span>
            </p>
            </div>
            <!-- <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div> -->
              <button type="submit" class="btn btn-block" ng-click="insertInfo(productInfo)" ng-disabled="ProductForm.$invalid" ><span class="glyphicon glyphicon-save"></span> Submit</button> 
             
          </form>
         </div>
        </div> 
       </div>
    
  <!-- </script>
</body>
</html>